<!--
<div class="footer">
    <div class="footer-heading footer-1">
        <h2>services</h2>
    </div>
    <div class="footer-heading footer-2">
        <h2>about me</h2>
        <a href="">Our story</a>
        <a href="">My work in GitHub</a>
        <a href="">Instagram</a>
        <a href="">Contact</a>
    
    </div>
    <div class="footer-heading footer-3">
        <h1>Send a message</h1>
    </div>
</div> 

-->
<footer class="footer-container" >
    <div class="row"  >
      <div class="footer-heading col-sm-4 d-flex flex-column text-center" >
           <a href="http://www.facebook.com">Facebook</a>
           <a href="http://www.twitter.com">Twitter</a>
           <a href="http://www.instagram.com">Instagram</a>
      </div>
      <div class="footer-heading col-sm-4 text-center">
        <address>
            <h3>Contacto</h3>
            <p><span class="oi oi-home footer-address-icon"></span>Colombia</p>
            <p><span class="oi oi-phone footer-address-icon"></span>+5491112391239</p>
            <p><span class="oi oi-inbox footer-address-icon"></span>contacto@gmail.com</p>
        </address>
      </div>
      <div class="footer-heading col-sm-4 d-flex flex-column text-center" >
           <a href="http://www.facebook.com">Nosotros</a>
           <a href="http://www.instagram.com">Terminos y Condiciones</a>
           <a href="">GitHub</a>

      </div>
    </div>
  </footer>