.footer-container {
    /*border: 3px dashed;*/
    /*padding-bottom: 4rem;*/ 
    background-color:#212329;
    padding-top: 5%;
}
.footer{
    width:80%;
    color:#fff;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0 auto;
}
.footer-heading{
    display:flex;
    flex-direction:column;
}
.footer-heading h2{
    margin-bottom:2rem;
}

.footer-heading h3,p,a{
    color:#fff;
    text-decoration:none;
    margin-bottom:0.5rem;
}
.footer-heading a:hover{
    background-color:#F9423D;
    margin-left: 25%;
    margin-right: 25%;
}