<div class="header container border">
    <h1 class="display-4">
        <div class="text-center" id="Tittle">
            My Web
        </div>
    </h1>
        
        <div class="text-center" id="description">This web ...</div>
           
        <!--Creación del menú-->
        <nav class="navbar">
            <div class="container">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="http://localhost:4200/#">Inicio</a>
                    </li>
                    <li class="Mathematics">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Mathematics</a>
                        <ul class="dropdown-menu">
                            <li><a href="vectorGeometry.html">Vector Geometry</a></li>
                            <li><a href="">Calculus</a></li>
                            <li><a href="">Algebra</a></li>
                            <li><a href="">Motivation</a></li>
                        </ul>
                    </li>
                    <li class="nav-item physics">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Physics</a>
                        <ul class="dropdown-menu">
                            <li><a href="">Motivation</a></li>
                        </ul>
                    </li>
                                                
                    <li class="nav-item programming">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Programming</a>
                        <ul class="dropdown-menu">
                            <li><a href="javaPart.html">Java</a></li>
                            <li><a href="inforSecPart.html">Informatic segurity</a></li>
                            <li><a href="">Programmer blog</a></li>
                            <li><a href="">Motivation</a></li>
                        </ul>
                    </li>
                    <li><a href="">Tutorials</a></li>

                </ul>
            </div> 
        </nav>
                      
</div>
