.header{
    /*box-sizing:border-box;*/ 
    width: 80%;
    height: 180px;
    /*text-align: center;*/
    /*position:fixed;*/
    /*clear:right;*/
    background-color: rgb(88, 88, 88);
    margin-left: 25%;
    /*background-image: url("img\pi_gray.jpg");*/
    /*background-size: 60px;*/
}
#Tittle{
    color:aliceblue;
    font-size:30px;
    font-family:papyrus, fantasy;
    position: static;
}
#description{
    color:rgb(255, 255, 255);
    font-size:17px;
    font-family:cursive;
    position: static;
}
/*
    MENU
*/    
.nav{
    background-color:black;
    height:45px;
    /*position:absolute;*/
    /*border: 2px #fff solid;*/
    margin-top:5%;
    width:100%;
    
}
/*ul, ol{
    list-style:none;
}*/
.nav li a {
    background-color: black;
    color:white;
    text-decoration:none;
    padding:10px 35px;
    display:block;
}
.nav li a:hover{
    background-color:#F9423D;
}
/*Para li directos en nav*/
.nav > li {
    float:left;
}
.nav li ul{
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul{
    display: block;
}