<!--
    PENDIENTES
    -Agregar contenido en el resto de la ventana
-->
<!DOCTYPE html>
<html lang="es">
    <header>
        <meta charset="utf-8">
        <meta name="description" content="This page is for achieve your study goals">
        <title class="text-center">My web</title> 
    </header>
    
    <body class="container">
        <!--División para el contenido de la página-->   
                <div class="header">
                    <app-header-container></app-header-container>
                </div>                   
            <!--<div class="page-container">-->    
                <!--División para el contenido medio de la página-->
                <div class="curious-box">
                    <app-lateral-container></app-lateral-container>                                      
                </div>
                <div class="content-wrap">
                    
                </div>
                <!--División para el footer de la página-->
                <div class="footer-container">
                    <app-footer-container></app-footer-container>  
                </div>
            <!--</div>-->
             
    </body>
    
</html>

