<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 bg-light">
        <!-- Lateral container content goes here -->
        <div class="text-center" id="Tittle">
            <div class="container">
              <img src="https://cdn.britannica.com/27/190027-050-A9A35298/Carl-Friedrich-Gauss-engraving.jpg" class="img-fluid" alt="Imagen">
              <a href="https://www.britannica.com/biography/Carl-Friedrich-Gauss">Carl Friedrich Gauss</a>
              <p>
                Was a German mathematician, geodesist, and physicist who made significant contributions to many fields in mathematics and science. 
                Gauss had an exceptional influence in many fields of mathematics and science and ranks among history's most influential mathematicians.
              </p>
            </div>
            <div class="container">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Evariste_Galois.jpg/220px-Evariste_Galois.jpg" class="img-fluid" alt="Imagen">
              <a href="https://www.britannica.com/biography/Evariste-Galois">Évariste Galois<br></a>
              <a>Was a French mathematician and political activist. While still in his teens, he was able to determine a necessary and sufficient condition for a polynomial to be solvable by radicals, thereby solving a problem that had been open for 350 years. His work laid the foundations for Galois theory and group theory,[2] two major branches of abstract algebra. He was a staunch republican and was heavily involved in the political turmoil that surrounded the French Revolution of 1830.</a>
            </div>
            <div class="container">
              <img src="https://cdn.britannica.com/08/3008-004-F87BC031/Godfrey-Kneller-Isaac-Newton-portrait-1689.jpg?s=1500x700&q=85" class="img-fluid" alt="Imagen">
              <a href="https://www.britannica.com/biography/Isaac-Newton">Isaac Newton<br></a>
              <a>Was an English mathematician, physicist, astronomer, alchemist, theologian, and author who was described in his time as a natural philosopher. He was a key figure in the Scientific Revolution and the Enlightenment that followed. His pioneering book Philosophiæ Naturalis Principia Mathematica (Mathematical Principles of Natural Philosophy), first published in 1687, consolidated many previous results and established classical mechanics.[17][18] Newton also made seminal contributions to optics, and shares credit with German mathematician Gottfried Wilhelm Leibniz for developing infinitesimal calculus.</a>
            </div>
        </div>
      </div>
      <div class="col-lg-9">
        <!-- Main content goes here -->
        <div class="text-justify">
            <app-content-wrap-container></app-content-wrap-container>
        </div>
      </div>
    </div>
  </div>
