:host {
    height: 220vh;
    display: flex;
  }
  
  .col-lg-3 {
    overflow-y: auto;
    max-height: 220vh;
  }
  
  .col-lg-9 {
    padding: 20px;
  }
  /* Cambia el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 7px;
}

/* Cambia el color del "rastro" de la barra de desplazamiento */
::-webkit-scrollbar-track {
  /*background-color: #ccc;*/
  background-color: #ff6b66;
}

/* Cambia el color del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Cambia el color del pulgar de la barra de desplazamiento cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
}
